#map {
  /* This is the CSS style for the map container */
  height: 100vh; /* Adjust the height of your map */
  width: 100vw; /* Adjust the width of your map */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#searchInput {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  top: 80px;
  right: 10px;
}

#searchResults {
  display: none;
  margin-top: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  overflow-y: auto;
  top: 110px;
  right: 10px;
  width: 200px;
  margin-bottom: 10px;
  max-height: calc(90% - 45px);
  cursor: default;
}

#searchResults div {
  margin-bottom: 5px;
}

#searchResults div:hover {
  background-color: #f0f0f0;
}

.search {
  position: absolute;
  z-index: 500;
}

.category-title {
  pointer-events: none;
}

.searchResult {
  cursor: pointer;
}

#map-title {
  position: relative;
  margin-top: 5px;
  margin-left: 50px;
  float: left;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 6px 8px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 24px;
  z-index: 800;
}

.custom-control {
  background: white;
  padding: 6px 8px;
  font-size: 12px;
}

#coordsys_picker {
  margin-top: 5px;
}
